* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  header {
    background: #f9d776;
    padding:10px;
  }
  
  header img {
    height:65px; 
  }
  
  main {
    max-width:80%;
    margin: 20px auto;
    text-align:center;
  }
  
  main img{
    width:100%;
    margin:10px 0;
  }
  
  main button {
    background: #ed9748;
    padding:10px 20px;
    color:white;
    border-radius:5px;
    border: 0;
    font-weight:bold;
    margin-top:20px;
    font-size:1.3rem;
    cursor:pointer;
    transition: transform 0.2s;
  }
  
  main button:hover{
    transform: scale(1.05);
  }
  
  footer {
    background: #a8bb96;
    color: white;
    text-align:center;
    padding:10px;
    font-weight:bold;
  }